@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto:wght@100&display=swap');
@import 'styles/_mixins';
@import 'styles/_colors';

.rooms {
    .headerMenu {
        @include flexCenter();
        flex-direction: row;
        height: 100%;
        &__item {
            width: 120px;
            height: 60%;
            margin-left: 10px;

        }
    }

    .sideBar {
        flex-basis: 15%;
        // height: 85%;
        display: flex;
        flex-direction: column;
        // padding-left: 20px;

        .genres {
            // display: flex;
            // flex-direction: column;
            padding-left: 10px;
            // margin: 0;
            span {
                color: #fff;
            }
        }

        .bottomOptions {
            // margin-bottom: 30px;
            margin-top: auto;
            .hideFullLabel:first-child  {
                margin: 0 10px 0 0;
            }
            .createRoom {
                margin: 20px 0;
                .createButton {
                    all: unset;
                    width: 150px;
                    border-radius: 30px;
                    // height: 100%;
                    background: linear-gradient($violet, $pinkish);
                    box-shadow: 0 0 2em $violet;
                    @include flexCenter();
                    color: #fff;
                    cursor: pointer;
                    height: 40px;
                }
            }
        }
    }

    .mainRooms {
        flex-basis: 85%;
        max-height: inherit;
        height: 100%;
        .mainContent {
            max-height: 100%;
            width: 100%;

            .labelBar {
                height: 20px;
                margin-bottom: 10px;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                font-weight: 600;
                margin-left: 15px;
            }
            
            .roomList {
                height: calc(100% - 30px);
                // max-height: 100%;
                @include scrollBarY();
                overflow-x: hidden;
                padding-right: 10px;
                // margin-bottom: 50px;
                

                // -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
                // -webkit-mask-size: 100% 500px;
                // -webkit-mask-repeat: no-repeat;
                // -webkit-mask-position-y: 50px;
            }
        }
    }

    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
        margin-left: 0;
    }
}
header,
section,
main {
    // padding: 10px;
    display: flex;
    flex: 1 1;
}
