@import 'styles/_mixins';
@import 'styles/_colors';
@import 'styles/_typings';

.players-list {
    width: 100%;
    &__header {
        font-size: $textLg;
    }
    &__list {
        row-gap: 10px;
        display: grid;
        // grid-template-columns: repeat(3, 33%);
    }
    &__element {
        display: grid;
        grid-template-columns: 15% 60% 25%;
        padding: 5px 15px;
        border-radius: 30px;
        background-color: #adadad;

        &--index {
        }

        &--name {
        }

        &--points {
            text-align: right;
        }
    }
}