@import 'styles/_mixins';
@import 'styles/_colors';

.game {
    .headerMenu {
        display: flex;
        gap: 10px;
        flex-direction: row;
    }

    .playersList {
        flex-basis: 25%;
    }

    .gameBoard {
        flex-basis: 75%;
        padding-left: 50px;
    }
}