@import 'styles/_mixins';
@import 'styles/_colors';

header,
section,
main {
    // padding: 10px;
    display: flex;
    flex: 1 1;
}

header {
    width: 100%;
    min-height: 70px;
    height: 15%;
    // justify-content: flex-end;
    flex-basis: 100%;
}
//     h1 {
//         color: #fff;
//         font-weight: 600;
//         position: absolute;
//         left: 10%;
//         font-size: 30px;
//         font-family: 'Indie FLower';
//     }

//     .headerContent {
//         // height: 100%;
//         @include flexCenter();

//         .headerMenu {
//             @include flexCenter();
//             flex-direction: row;
//             height: 100%;
//             &__item {
//                 all: unset;
//                 width: 100px;
//                 border-radius: 30px;
//                 height: 60%;
//                 background: linear-gradient($violet, $pinkish);
//                 box-shadow: 0 0 2em $violet;
//                 @include flexCenter();
//                 color: #fff;
//                 border: none;
//                 margin-left: 10px;
//                 cursor: pointer;
//                 font-weight: 600;
//             }
//         }
//     }
// }

section {
    flex-basis: 15%;
    // height: 85%;
    display: flex;
    flex-direction: column;
    // padding-left: 20px;
}

//     .genres {
//         // display: flex;
//         // flex-direction: column;
//         padding-left: 10px;
//         // margin: 0;
//         span {
//             color: #fff;
//         }
//     }

//     .bottomOptions {
//         // margin-bottom: 30px;
//         margin-top: auto;
//         .hideFullLabel:first-child  {
//             margin: 0 10px 0 0;
//         }
//         .createRoom {
//             margin: 20px 0;
//             .createButton {
//                 all: unset;
//                 width: 150px;
//                 border-radius: 30px;
//                 // height: 100%;
//                 background: linear-gradient($violet, $pinkish);
//                 box-shadow: 0 0 2em $violet;
//                 @include flexCenter();
//                 color: #fff;
//                 cursor: pointer;
//                 height: 40px;
//             }
//         }
//     }
// }

// main {
//     flex-basis: 75%;
//     // height: 85%;
//     display: grid;
//     grid-template-columns: 100%;
//     grid-template-rows: repeat(10, 10%);
//     // box-shadow: 0 0 1em #b2b2b2;
//     // border-radius: 10px;
// }
//     .mainContent {
//         // padding-right: 20px;

//         .labelBar {
//             display: grid;
//             grid-template-columns: repeat(3, 33%);
//             font-weight: 600;
//             margin-left: 15px;
//         }
//     }
// }
